<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h2>Sign Up</h2>
  
  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}
  
  <form action="/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <br>
    
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br>
    
    <button type="submit">Create</button>

      {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  
  <br>
  <a href="/login">Already have an account? Log In</a>
</body>
</html>
